/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#app {
  /* background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa'); */
  background-image: url("/background1.webp");
  background-size: cover;
}
