/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.main-container {
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa');
  background-image: url('https://images.unsplash.com/photo-1597733336794-12d05021d510');
  background-size: cover;
}
